body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    background-color: rgb(140, 143, 138);
    text-transform: uppercase;
    color: white;
    width: 400px;
}

div {
    display: flex;
    justify-content: left;
}

p {
    display: flex;
    text-align: left;
    display: inline-block;
    color: #FFAD49;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

#skills {
    display: flex;
    text-align: left;
    display: inline-block;
}

input {
    border: 3px solid #92C47C;
    margin: 5px;
}

button {
    color: #92C47C;
    margin: 5px;
    text-align: left;
}

ul {
    list-style: none;
    display: flex;
    text-align: left;
    display: inline-block;
}